<!-- In this page you can create a new Item.-->
<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<h1> New Item </h1>

<form action="{{url_for('newItem', genre_id=genre_id )}}" method = 'POST'>

<dt>Name:</dt>
<input type='text' size='30' name='name'></br></br>

<dt>Description:</dt>
<input type='text' size='250' name='description'></br></br>

<input type='submit' value='Create'>

<a href='{{url_for('showItems', genre_id = genre_id) }}'>Cancel</a>
</form>

</body>
</html>